# RR_avg.xlsx

In [29]:
import pandas as pd
RR_avg=pd.read_excel('RR_avg.xlsx')

In [30]:
RR_avg=pd.DataFrame(columns=['English', 'OR_score_sum', 'OR_count', 'SC_score_sum', 'SC_count',  'SD_score_sum', 'SD_count'])

In [31]:
#建立英文名列
disease_35=pd.read_excel('35_disease_name.xlsx')

In [32]:
disease_english_35=disease_35['English'].tolist()

In [34]:
disease_199=pd.read_csv('199_disease_name.csv')
disease_english_199=disease_199['English_GWAS'].tolist()

In [35]:
disease_total=disease_english_35+disease_english_199

In [36]:
RR_avg['English']=pd.Series(disease_total)

In [37]:
RR_avg.head()

,English,OR_score_sum,OR_count,SC_score_sum,SC_count,SD_score_sum,SD_count
0,Wilms tumor,NaN,NaN,NaN,NaN,NaN,NaN
1,Liver cancer,NaN,NaN,NaN,NaN,NaN,NaN
2,Carotid dissection,NaN,NaN,NaN,NaN,NaN,NaN
3,Sudden cardiac death,NaN,NaN,NaN,NaN,NaN,NaN
4,Gestational diabetes,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
RR_avg.to_excel('RR_avg.xlsx', index=False)

# SD_score.xlsx

In [37]:
SD_score=pd.DataFrame(columns=['English', 'OR_score'])

In [38]:
SD_score.to_excel('SD_score.xlsx', index=False)

# 查看函数情况

In [19]:
import PRSsd
print(PRSsd.Method3_PRSsd('B', '2'))

  English OR_score
0       B        2
1       B        2
2       B        2
3       B        2
4       B        2
5       B        2
6       B        2
[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
inf
d:\2_Professional Courses\132_基因项目\新模型\PRSsd.py:34: RuntimeWarning: divide by zero encountered in double_scalars
  risk_score=abs(risk_score-prsmean)/prssd

# 文件名前缀

In [40]:
file_dir='D:\2_Professional Courses\132_基因项目\新模型'
file_prefix=file_dir.split("\\")[-1]

In [41]:
file_prefix

'新模型'

In [48]:
import numpy as np
A=1
np.isnan(A)

False

In [55]:
Disease_Avai=pd.read_excel('35_disease_name.xlsx')

In [65]:
    file_dir='D:/2_Professional Courses/132_基因项目/GWAS数据/新增_20基因数据/1.vcf'
    file_prefix=file_dir.split("/")[-1]
    Disease_Avai.to_excel(file_prefix+'_valid.xlsx',index=False)

In [66]:
file_prefix

'1.vcf'

In [73]:
RR_avg=pd.read_excel('RR_avg.xlsx')
typee='OR'
for index, row in RR_avg.iterrows():
    if row['English']== 'Endometrial cancer':
        if typee=='OR':
            if row['OR_count']==0:
                print(1)
            elif row['OR_score_sum']==0:
                print('群体风险值为0')
            else:
                group_avg= row['OR_score_sum']/row['OR_count']

        elif typee=='SC':
            if row['SC_count']==0:
                print(1)
            elif row['OR_score_sum']==0:
                print('群体风险值为0')
            else:
                group_avg= row['SC_score_sum']/row['SC_count']

        elif typee=='SD':
            if row['SD_count']==0:
                print(1)
            elif row['OR_score_sum']==0:
                print('群体风险值为0')
            else:
                group_avg= row['SD_score_sum']/row['SD_count']
        break

print(group_avg)
print(1.0/group_avg)

nan
nan

# 为什么出现了这么诡异的情况？？？(从float反而变为nan)

In [90]:
RR_avg=pd.read_excel('previous_RR.xlsx')
for index, row in RR_avg.iterrows():
    if row['English']== 'Photic sneeze reflex':
        print(RR_avg.loc[index])
        previous=row

English         Photic sneeze reflex
OR_score_sum                       0
OR_count                          21
SC_score_sum                       0
SC_count                          21
SD_score_sum                       0
SD_count                          21
Name: 170, dtype: object

In [91]:
RR_avg=pd.read_excel('RR_avg.xlsx')
for index, row in RR_avg.iterrows():
    if row['English']== 'Photic sneeze reflex':
        print(RR_avg.loc[index])
        current=row

English         Photic sneeze reflex
OR_score_sum                     NaN
OR_count                          22
SC_score_sum                       0
SC_count                          22
SD_score_sum                       0
SD_count                          22
Name: 170, dtype: object

In [96]:
print(type(previous['OR_score_sum']))
print(previous['OR_score_sum'])
print(np.isnan(previous['OR_score_sum']))

print(type(current['OR_score_sum']))
print(current['OR_score_sum'])
print(np.isnan(current['OR_score_sum']))

<class 'float'>
0.0
False
<class 'float'>
nan
True

In [98]:
RR_avg=pd.read_excel('RR_avg.xlsx')
RR_avg.to_excel('report/'+'rr.xlsx')

## 统计SNP位点个数（12104）
新加入20kMAF数据

In [46]:
import pandas as pd
maf_20k=pd.read_excel('data_MAF/maf-20k.xlsx')
maf_20k.head(10)

         rs_ID           MAF
0  rs367896724  CCC=0.425319
1  rs555500075     AA=0.4375
2  rs575272151   G=0.0880591
3  rs544419019   G=0.0880591
4   rs62635286   G=0.0970447
5   rs62028691   G=0.0970447
6  rs531730856   C=0.0950479
7  rs546169444   T=0.0958466
8     rs707680    A=0.147564
9  rs541940975    G=0.147564

In [47]:
for index, row in maf_20k.iterrows():
    try:
        temp_MAF = row['MAF'].split('=')
        row['MAF'] = temp_MAF[0][0] + '=' + temp_MAF[1]
    except AttributeError:
        maf_20k.drop(index, inplace=True)
maf_20k.head(10)

         rs_ID          MAF
0  rs367896724   C=0.425319
1  rs555500075     A=0.4375
2  rs575272151  G=0.0880591
3  rs544419019  G=0.0880591
4   rs62635286  G=0.0970447
5   rs62028691  G=0.0970447
6  rs531730856  C=0.0950479
7  rs546169444  T=0.0958466
8     rs707680   A=0.147564
9  rs541940975   G=0.147564

In [49]:
#maf_20k.at[272,'MAF']

maf_20k.sort_values(by=['rs_ID'], inplace=True)
maf_20k.reset_index(inplace=True, drop=True)
print(maf_20k.shape)
maf_20k.head()

(19825, 2)

       rs_ID          MAF
0  rs1001620   C=0.194089
1  rs1003237  T=0.0734824
2  rs1004125  A=0.0780751
3  rs1004176  A=0.0750799
4  rs1004649  G=0.0794728

In [60]:
maf_20k_list = maf_20k['rs_ID'].tolist()

In [51]:
# 只看能匹配上的rs数
SD_GWAS=pd.read_csv('simplified_database_GWAS.csv')
SD_GWAS.sort_values(by=['Risk_allele'], inplace=True)
SD_GWAS.reset_index(inplace=True, drop=True)

In [53]:
rs_count=0
rs_allele_count=0
temp=0
for index, row in SD_GWAS.iterrows():
    rs_1 = row['Risk_allele'].split('-')[0]
    for maf_j in maf_20k_list[temp:]:

        rs_2 = maf_j.split('=')[0]
        if rs_1 == rs_2:
            print(rs_1)
            rs_count = rs_count+1
            if row['Risk_allele'].split('-')[1] == maf_j.split('=')[1]:
                rs_allele_count = rs_allele_count+1
            temp = temp + maf_j
            continue

In [43]:
print(rs_count)

0

In [58]:
SD_list=[]
for i in SD_GWAS['Risk_allele']:
    SD_list.append(i.split('-')[0])
len(SD_list)

12103

In [55]:
print(maf_20k['rs_ID'][:20])

0      rs1001620
1      rs1003237
2      rs1004125
3      rs1004176
4      rs1004649
5      rs1004650
6     rs10047182
7     rs10047257
8      rs1005471
9      rs1009129
10     rs1009345
11     rs1009976
12     rs1011994
13    rs10127576
14      rs101287
15     rs1014988
16    rs10157040
17    rs10157057
18    rs10157102
19    rs10157140
Name: rs_ID, dtype: object

In [62]:
jiaoji = set(maf_20k_list).intersection(set(SD_list))
print(jiaoji)
print(len(jiaoji))

{'rs12120353', 'rs2016366', 'rs10218452', 'rs6667605', 'rs1555791', 'rs12044274', 'rs2651899', 'rs12103', 'rs10797432', 'rs6670198', 'rs4445406', 'rs12061931', 'rs734999', 'rs4648356', 'rs3890745', 'rs3748817', 'rs4648845', 'rs3748816', 'rs12135062', 'rs7542260', 'rs13303010', 'rs60733400'}
22